#lp1{
    position: relative;
    background: url(/img/lp1/slider.png) no-repeat;
    /*background-size: 100%;*/
    background-size:cover;
    /*min-height:593px;
    color:#DC7D43;*/
    color:#ffffff;
    padding-bottom: 50px;
}
#lp1 a:link{
    color:#fff;
    text-decoration:none;
    font-weight:700;
}
#lp1 a:active,#lp1 a:visited{
    color:#fff;
}
#lp1 a:hover{
    color:#DC7D43;
}


#logo{
    float:left;
    width:150px;
    padding:5px;
    text-align:center;
}

#logoTel{
    float:left;
    width:150px;
    margin:40px 0 0 50px;
}
/********/
#topMenu{
    margin:24px 2px 0;
    float:right;
    height:40px;
    /*background-color: #9BEFF3;*/

}
.tmlink{
    /*background-color: #ffffdd;*/
    padding:12px;
    margin:4px 12px 0;

}
@media screen and (max-width:1040px){
    .tmlink{
        margin:4px 5px 0;
        padding:12px 3px;
    }
}
@media screen and (max-width:870px){
    .tmlink{
        display: none;
    }
}

/********/
.horLine{
    height:3px;
    background-color:#DC7D43;
}
#tag-line{
    padding:12px 0;
}
#tag-line h2{
    font-size:20px;
    font-weight:500;
}
@media screen and (max-width:730px){
    #tag-line h2{
        text-align:center;
        font-weight:400;
    }
}
#tag-line-ext{
    overflowx-y:hidden;
    max-width:440px;
    margin:5% 0 0 5%;
    font-size:56px;
    font-weight:400;
}
@media screen and (min-width:340px) and (max-width:630px){
    #tag-line-ext{
        max-width:440px;
        margin:0 3%;
        font-size:40px;
        font-weight:300;
    }
}
@media screen and (max-width:339px){
    #tag-line-ext{
        width:100%;
        margin:0;
        font-size:35px;
        font-weight:300;
    }
}
#btn-keysi{
    width:180px;
    font-weight:400;
    border:#fff 1px solid;
    border-radius:50px;
    margin:3% 0 0 13%;
    padding:13px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
#btn-keysi:hover{
    background-color:#EFE0C8;
    color:#000;
}
#btn-keysi:active{
    background-color:#fff;
}