#lp1{
    position: relative;
    background: url(/img/lp1/slider.png) no-repeat;
    /*background-size: 100%;*/
    background-size:cover;
    /*min-height:593px;
    color:#DC7D43;*/
    color:#ffffff;
    padding-bottom: 50px;
}
#lp1 a:link{
    color:#ffffff;
    text-decoration:none;
    font-weight:700;
}
#lp1 a:hover,#lp1 a:active,#lp1 a:visited{
    background: #786b59; /* Цвет фона под ссылкой */
    color: #fff;
}


#logo{
    float:left;
    width:150px;
    padding:5px;
    text-align:center;
}

#logoTel{
    float:left;
    width:150px;
    margin:40px 0 0 50px;
}
.horLine{
    height:3px;
    background-color:#DC7D43;
}
#tag-line{
    padding:12px 0;
}
#tag-line h2{
    font-size:20px;
    font-weight:500;
}
#tag-line-ext{
    max-width:440px;
    margin:5% 0 0 13%;
    font-size:56px;
    font-weight:400;
}
#btn-keysi{
    width:180px;
    font-weight:400;
    border:#fff 1px solid;
    border-radius:50px;
    margin:3% 0 0 13%;
    padding:13px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
#btn-keysi:hover{
    background-color:#EFE0C8;
    color:#000;
}
#btn-keysi:active{
    background-color:#fff;
}