#lp2_about{
    position:relative;
    background-color:#ef7f22;
    min-height:400px;
}
#lp2_mc{
    padding:30px 0;
}
#cont_fluid_lp2{
    width:100%;
    /*background-color:#786b59;
    border:1px solid #9BEFF3;*/
}
@media screen and (max-width:640px){
    #lp2_mc{
        padding:10px 0;
    }

}
.cont_fluid_lp2_child{
    margin:3px 0;
    padding: 13px 1px;
    max-width:280px;
    min-width:230px;
/*    background-color: #f567dd;*/
}

.lp2_heading{
    /*background-color: #9BEFF3;*/
    height:50px;
    border-bottom:1px solid #fff;
}

#lp2_about h3{
    color:#fff;
    text-align:center;
}
.lp2_list{
 color:#fff;
}


.lp2_list .item::before{
    content:'✓ ';
}
.lp2_list li:hover .item{
    color:red;
}
/******************arrow******************/
/******************стрелка******************/

.lp2_heading_open{
    overflow-y: hidden;
    padding-bottom:40px;
    height:200px;
}

.arrow-height{
    position:absolute;
    left: 0;
    bottom: 0;
    height:35px;
    width: 100%;
    background-color:#ef7f22;

}
.arrow{
    /*background-color:#869791;*/
    position:absolute;
    bottom:-3px;
    right:40%;
    cursor: pointer;
    z-index: 10;
    width: 66px;
    height:35px;
}


.arrow-left {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 0;
    width:40px;
    height:5px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}
.arrow-left:after {
    content: "";
    background-color:#fff;
    width:40px;
    height:7px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.arrow-right {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 26px;
    width: 40px;
    height:7px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}
.arrow-right:after {
    content: "";
    background-color:#fff;
    width: 40px;
    height:7px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
.open .arrow-left:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}
.open .arrow-right:after {
    transform-origin: center center;
    transform: rotate(70deg);
}
