#lp4_klient h1{
    color:#555E6E;
}
#customers{
    padding:50px 0;
}

.carousel-item {
    margin: 0 auto;
    height: 116px;
    width: 190px;
    cursor: grab;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}
.lp4_list{

    width:40%;
    margin:40px 20px;
    border-left:#EF7F22 5px solid;
    border-right:#EF7F22 5px solid;
}
@media screen and (max-width:600px){
    .lp4_list{
        width:90%;
        margin:0 auto;

    }
}

.lp4_list .item::before{
    content:'✓ ';
}
.lp4_list li:hover .item{
    color:red;
}